
/* Map styles */
.leaflet-container {
  font: inherit;
  font-family: inherit;
  height: 100%;
  width: 100%;
}

.leaflet-popup-content-wrapper {
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 0;
}

.leaflet-popup-content {
  margin: 0.75rem 1rem;
  width: auto !important;
  min-width: 150px;
}

.leaflet-popup-tip {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.active-marker {
  filter: hue-rotate(120deg);
  z-index: 1000 !important;
  animation: bounce 0.5s ease-in-out;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
